@model AspDotNetTraining.Controllers.UploadsCustomViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Store", "Uploads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextBoxFor(m => m.FileName)

    <input type="file" name="file" id="file" />

    <button type="submit">Upload</button>
}

